body {
  background-color: #0f0f0f;
  color:white;
  overflow-x: hidden !important;
  /* ^ Used to hide the scrollbar*/

  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.8;
  font-family: Montserrat, sans-serif;
}

body::-webkit-scrollbar {
  /*Chrome, Safari, and Opera*/
  display: none;
}
::-webkit-scrollbar { 
  width: 0 !important
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* ^ Used to hide the scrollbar*/


.aligntext {
  text-align: left;
  margin-left: 36px;
}
.textcolor {
  color: white;
}
.textitalic {
  font-style: italic;
}
.textspacer {
  padding-bottom: 3px;
  padding-top: 3px;
}

.navbar-nav li:hover {
  color: #000 !important;
  background-color: #F0B825 !important;
}
nav {
  border-bottom: 5px solid #efb821;
  background-color: #1F1F1F;
  opacity: 1;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
#navspan {
  padding: 0px 0px 0px 0px;
}
.nav-link {
  padding: 22px 0 22px 0;
  
}


.navbar-toggler {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 11px;
}

.bottomnav {
  border-bottom: 5px solid #efb821;
  background-color: #1f1f1f;
}
.bottomLogo {
  width: 167px;
  margin: 0px 0px 0px 30%;
}
.bottomLogom {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bottomPR {
  width: 70px;
}
.bottomA {
  margin: 0px 10px 0px 10px;
}
.slogon {
font-weight: 900;
  margin: 20px 0 20px 0;
  font-size: 24px;
}
/*------------------------------------------------------------------*/
.colorFix{
  background-color: #4b4b57; 
  border-radius: 15px;
}
.flex-wrap{
  margin: 0 5% 0 5%;  
}
  .ruby{
    color: #f22a2a;
  }
  .ruby .colpart{
    width: 425px;
    max-width: 100% !important;
    padding: 2% 3% 2% 3%;
  }

  .rubyline{
    background-color: #f22a2a;
    font-size: 2px;
  }
  .pblogo{
    width: 700px !important;
    max-width: 100% !important;
    max-height: 187.1px !important;
  }
  h1{
    font-size: 10vw;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  @media screen and (min-width: 425px) {
    h1 {
       font-size: 60px;
    }
  }
  .dia{
    color: #b0fdef;
  }
  .dia .colpart{
    width: 350px;
    max-width: 100% !important;
    padding: 2% 6% 2% 9%;
  }
  .dialine{
    background-color: #b0fdef;
    font-size: 2px;
  }
  .plat{
    color: #e5e4e2 ;
  }
  .plat .colpart{
    width: 300px;
    max-width: 100% !important;
    padding: 2% 9% 2% 6%;
  }
  .platline{
    background-color: #e5e4e2 ;
    font-size: 2px;
  }
  .sdlogo{
    width: 500px !important;
    max-width: 100% !important;
  }
  .aflogo{
    width: 1000px !important;
    max-width: 100% !important;
  }
  
  .TMlogo{
    width: 225px !important;
    max-width: 90% !important;
  }
  

  .gold{
    color: #f9f100;
  }
  .gold .colpart{
    width: 240px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .goldline{
    background-color: #f9f100;
    font-size: 2px;
  }
  .gold{
    color: #f9f100;
  }
  .gold .colpart{
    width: 240px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .goldline{
    background-color: #f9f100;
    font-size: 2px;
  }
  .jblogo{
    width: 400px !important;
    max-width: 100% !important;
    max-height: 94.7px !important; 
  }
  .lllogo{
    width: 500px !important;
    max-width: 100% !important;
    max-height: 94.7px !important; 
  }
  
  .sil{
    color: #c7c1b9;
  }
  .sil .colpart{
    width: 200px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .silline{
    background-color: #c7c1b9;
    font-size: 2px;
  }

  .bro{
    color: #ae793c;
  }
  .bro .colpart{
    width: 180px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .broline{
    background-color: #ae793c;
    font-size: 2px;
  }
  .mmlogo{
    border-radius: 15px !important;
  }
  .bmlogo{
    width: 400px !important;
    max-width: 100% !important;
    max-height: 60px !important; 
  }
  tiers{
    color: #c3a234;
    text-align: center;
    font-size: 40px ;

    
    line-height: 42px;
  height: 44px;
  
  }
  tiers li{
    padding: 20px 0 0 0; 
   
  }
  .money{
    color: white;
    font-size: 30px ;
    line-height: 34px;
    height: 35px;
    padding: 10px 0 40px 0; 
  }
  .tierdescription{
      list-style-type: none;
      color: white;
      font-size: 25px ;
      padding: 0 0 10px 30px !important;  
      width: 350px !important;
      text-align: left;
  }
  .highertier{
    color: white;
    font-size: 15px ;
  }
  .left{
    text-align: left;
    width: 300px;
  }

  .socialtierlist{
    padding-bottom: 0%;
  }

  .sponsortierimg{
    width: 60%;
  }

  .col {
    text-align: left;
  }
  .bordera {
    border-bottom: #e5e4e2 solid 3px;
  }
  .borderb {
    border-left: #e5e4e2 solid 3px;
  }
  .plat {
    background-color: #1e2146;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    
  }
  .goldv {
    background-color: #423510;
  }
  .silv {
    background-color: #23212e;
  }
  .brnz {
    background-color: #241b14;
  }
  .sponsors {
    background-color: #2c1515;
    border-radius: 30px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .column2 {
    flex: 20%;
    padding: 0 4px;
  }
  
.docs_title {
  padding-top: 50px;
  padding-bottom: 25px;
}

h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.container {
  height: 300px;
  width: 600px;
  top: 300px;
  left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
    border: 5px white solid;
}
.used {

}
.unused {
  background-color: #000;
}

.card:not(:first-child) {
    margin-left: -50px;
}

@media screen and (min-width: 736px) {
  .used:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}


.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
}
.title {
  color: white;
  font-weight: 800;
  font-size: 150%;
  text-align: center;
  margin-top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #1e2035;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, #656cb2 30%, #efb821 100%);
  transition: 0.6s cubic-bezier( 0, 1, 1, 1 );
}

.used:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: #efb821;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.used:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.iconi {
  color: #00000000;
  font-size: 72px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10%;
  transition: color 500ms cubic-bezier( 0, 1, 1, 1 );
}
.used:hover i {
  color: #efb821;
}
.unused:hover {
  background-color: #200;
}
.unused .title {
  color: #ffffff33;
}
.i {
  margin-top: auto;
  margin-bottom: 10%;
}
@media screen and (max-width: 736px) {
.container {
  width: 100%;
  margin: auto;
}
.emptybar  {
  display: none;
}
.filledbar {
  display: none;
}
.card ~ .card {
  position: relative;
  margin-left: -10px;
}
.card:first-child {
  margin-left: 0px;
}
.title {
  font-size: 90%;
  text-align: center;
  margin-top: 15px;
}

}