/* All Pages v */
:root {
  --black: #0f0f0f;
  --black2: #000;
  --black3: #1f1f1f;
  --white: #f6f9fd;
  --white2: #fff;

  --red: #c75650;
  --red2: #b4534e;
  --orange: #f39158;
  --orange2: #e9905c;
  --lightgold: #e4c060;
  --gold: #efb821;
  --gold2: #e6b42a;
  --green: #5bb35c;
  --green2: #5eac60;
  --teal: #4da08e;
  --teal2: #4c9686;
  --lightblue: #7dbbe7;
  --lightblue2: #7db5dd;
  --darkblue: #656cb2;
  --darkblue2: #6268a8;
  --purple: #ad56b6;
  --purple2: #ac55b5;
  --magenta: #ae4870;
  --magenta2: #a7486e;
  
  --thunder-green: #6af778;

  --striped-black: repeating-linear-gradient(-45deg,var(--black2),var(--black2) 5px,var(--black) 5px,var(--black) 10px);
  --striped-black2: repeating-linear-gradient(-45deg,var(--black3),var(--black3) 5px,var(--black2) 5px,var(--black2) 10px);
  --striped-white: repeating-linear-gradient(-45deg,var(--white2),var(--white2) 5px,var(--white) 5px,var(--white) 10px);

  --striped-black-large: repeating-linear-gradient(-45deg,var(--black2),var(--black2) 10px,var(--black) 10px,var(--black) 20px);
  --striped-black-large2: repeating-linear-gradient(-45deg,var(--black3),var(--black3) 10px,var(--black) 10px,var(--black) 20px);
  --striped-white-large: repeating-linear-gradient(-45deg,var(--white2),var(--white2) 10px,var(--white) 10px,var(--white) 20px);
  --striped-red: repeating-linear-gradient(-45deg,var(--red2),var(--red2) 10px,var(--red) 10px,var(--red) 20px);
  --striped-orange: repeating-linear-gradient(-45deg,var(--orange2),var(--orange2) 10px,var(--orange) 10px,var(--orange) 20px);
  --striped-gold: repeating-linear-gradient(-45deg,var(--gold2),var(--gold2) 10px,var(--gold) 10px,var(--gold) 20px);
  --striped-green: repeating-linear-gradient(-45deg,var(--green2),var(--green2) 10px,var(--green) 10px,var(--green) 20px);
  --striped-teal: repeating-linear-gradient(-45deg,var(--teal2),var(--teal2) 10px,var(--teal) 10px,var(--teal) 20px);
  --striped-lightblue: repeating-linear-gradient(-45deg,var(--lightblue2),var(--lightblue2) 10px,var(--lightblue) 10px,var(--lightblue) 20px);
  --striped-darkblue: repeating-linear-gradient(-45deg,var(--darkblue2),var(--darkblue2) 10px,var(--darkblue) 10px,var(--darkblue) 20px);
  --striped-purple: repeating-linear-gradient(-45deg,var(--purple2),var(--purple2) 10px,var(--purple) 10px,var(--purple) 20px);
  --striped-magenta: repeating-linear-gradient(-45deg,var(--magenta2),var(--magenta2) 10px,var(--magenta) 10px,var(--magenta) 20px);









}
html {
  box-sizing: border-box !important;
}
body {
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden !important;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.8;
  font-family: Montserrat, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::selection {
  background: var(--gold);
}
body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar { 
  width: 0 !important
}
.jb {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 
  90% 95%, 80% 100%, 70% 95%, 60% 100%, 50% 95%, 40% 100%, 30% 95%, 20% 100%, 10% 95%);
}
.jbo {
  width: 100%;
  height: 510px;
  position: absolute;
  background-color: var(--black3);
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 
  90% 95%, 80% 100%, 70% 95%, 60% 100%, 50% 95%, 40% 100%, 30% 95%, 20% 100%, 10% 95%);
}
hr {
border: 5px solid var(--white);
opacity: 100%;
}
.gold {
  color: var(--gold) !important;
  font-weight: 900;
  font-style: italic;
}
.green {
  color: var(--thunder-green) !important;
  font-weight: 900;
  font-style: italic;
}
.car-icon {
  font-size: 50px;
}
.title {
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}
.heading {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 15px;
}
.link {
  color: var(--lightblue);
  text-decoration: none;
}
.nolink {
  color: var(--white);
  text-decoration: none;
}
a {
  text-decoration: none;
}
.button {
  font-weight: 900;
  background-color: var(--gold);
  border: 5px solid var(--black3);
  border-radius: 15px;
  font-size: 20px;
  transition: background-color .5s;
}
.button:hover {
  background-color: var(--lightgold);
}
.t-card {
  height: 500px;
  background: var(--black2);
  margin-bottom: 50px;
  display: block;
  background-position: center;
  background-size: cover;
}
.blktcbk {
  height: 100%;
  width: 100%;
  padding-top: 300px;
  backdrop-filter: brightness(25%);
}
.txtc {
  text-align: center;
}
/* Subteam Colors */
.build {
  background: var(--striped-red);
}
.design {
  background: var(--striped-lightblue);
}
.programming {
  background: var(--striped-green);
}
.electrical {
  background: var(--striped-gold);
}
.marketing {
  background: var(--striped-darkblue);
}
.safety {
  background: var(--striped-orange);
}
.business {
  background: var(--striped-magenta);
}
.executive {
  background: var(--striped-black-large);
}
.notebook {
  background: repeating-linear-gradient(-45deg,#ac8787,#ac8787 10px,#a18181 10px,#a18181 20px);
}
.hidec {
  display: none;
}
@media screen and (max-width:770px) {
  .title {
    font-size: 40px;
  }
  .jb {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 
    90% 98%, 80% 100%, 70% 98%, 60% 100%, 50% 98%, 40% 100%, 30% 98%, 20% 100%, 10% 98%);
  }
  .jbo {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 
    90% 98%, 80% 100%, 70% 98%, 60% 100%, 50% 98%, 40% 100%, 30% 98%, 20% 100%, 10% 98%);
  }
}
/* All Pages ^ */

/* Related to Navbar v */
.navbar {
  background-color: var(--black3);
  
  border-radius: 20px;
  width: max-content;
  min-width: 350px;
  margin: auto;
  margin-top: 5px;
  filter: drop-shadow(0px 0px 20px var(--black2));
}
.nav-link {
  color: var(--white) !important;
  font-family: Montserrat;
  font-weight: 700 !important;
  letter-spacing: 1px;
  text-align: center;
}
#navbaricon {
  height: 50px;
  margin-right: 50px;
}
.navbar-toggler {
  box-shadow:0 0 0 0 !important;
  color: var(--white);
  font-size: 40px;
  transition: color 100ms;
}
.navbar-nav a {
  transition: color 100ms;
  color: var(--white);
}
.navbar-nav a:hover {
  color: var(--gold) !important;
}
/* Related to Navbar ^ */

/* Related to Footer v */
footer {
  background: var(--striped-black-large);
  height: 100px;
  display: flex;
  margin-top: 150px;
  width: 100%;
  img {
    height: 150px;
    margin-top: -75px;
    margin-left: 5%;
    margin-right: 50px;
  }
  p {
    margin: auto;
    margin-top: 30px;
    text-align: center;
  }
  i {
    font-size: 50px;
    color: var(--white);
  }
  #footer-icons {
    margin: auto;
    margin-right: 5%;
    display: flex;
    width: 260px;
  }
  .ftr-icona {
    margin-left: 20px;
  }
  .ftr-icon {
    transition: transform .5s;
    i {
      transition: color .5s;
      text-align: center;
    }
  }
  .ftr-icon:hover {
    i {
    color: var(--gold);
    }
    transform: rotate(15deg);
  }
}
@media screen and (max-width:1500px) {
  footer {
    display: inline-block;
    height: fit-content;
    img {
      display: block;
      margin-top: -75px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #footer-icons {
    margin: auto !important;
  }
  .ftr-icon {
    margin: auto;
  }

}
/* Related to Footer ^ */

/* Related to 404 v */
#f404-tc {
  background-image: url("/assets/img/img/johnbot.JPG");
  background-position: 50% 25%;
}
#nowatch-tc {
  background-image: url();
}


/* Related to 404 ^ */

/* Related to Index v */
#header {
  margin-bottom: 30px;
}

.hsc {
  height: 600px;
  object-fit: cover;
}
#watchbanner {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  font-weight: 900;
  background-color: var(--darkblue);
  font-size: 35px;
  transition: all .5s ease-in-out;
  padding-left: 17.5px;
}
#watchbanner:hover {
  background-color: #8c91ca;
  padding-left: 0px;
}
#watchbanner-iconhide {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all .5s ease-in-out;
}
#watchbanner:hover { #watchbanner-iconhide{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}}
#logofront {
  height: auto;
  max-height: 150px;
  margin: auto;
  margin-top: 25px; margin-bottom: 25px;
  display: block;
  width: 70%
}
#slogan {
  text-align: center;
  font-style: italic;
  color: var(--white);
  font-weight: 900;
}
#index-spot {
  width: 75%;
  height: 500px;
  background: var(--striped-black-large);
  border-radius: 25px;
  margin: auto;
  margin-top: 100px; margin-bottom: 100px;
  border: 10px solid var(--black3);
  display: flex;
}
#index-spot-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 12.5px;
  border-top-left-radius: 12.5px;
  border-right: 5px solid var(--black3);
  background-image: url(/assets/img/spotimg/sand.png);
  background-size: cover;
  background-position: center;
}
#index-spot-rightpanel {
  width: 50%;
}
#scyllalogo {
 width: 60%;
 height: auto;
 margin-top: 50px;
 margin-left: 20%; margin-right: 20%;
 margin-bottom: 50px;
}
#index-spot-text {
  text-align: center;
  margin-left: 5%; margin-right: 5%;
  font-weight: 700;
}
#index-spot-more {
  width: 50%;
  height: 50px;
  margin-left: 25%; margin-right: 25%;
  font-weight: 900;
  background-color: var(--gold);
  border: 5px solid var(--black3);
  border-radius: 15px;
  font-size: 20px;
  margin-top: 15px;
  transition: background-color .5s;
}
#index-spot-more:hover {
  background-color: #e4d097;
}

#events-plate {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 100px;
}
#m-events {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 100px;
  display: none;
}
.events-slot {
  display: flex; 

}
#events-numbers {
  display: flex;  
}
.week {
  width: 12.5%;
  display: flex;

  align-items: center;
  h1 {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    font-weight: 900;     
  }
  i {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
  }
  img {
    margin: auto;
  }
  a {
    width: 100%;
  }
  p {
    width: 100%;
    text-align: center;
    font-weight: 500;
  }
}
.m-week {
  width: 100%;
  display: flex;

  align-items: center;
  h1 {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    font-weight: 900;     
  }
  i {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
  }
  img {
    margin: auto;
  }
  a {
    width: 100%;
  }
  p {
    width: 100%;
    text-align: center;
    font-weight: 500;
  }
}
.evsl2 {
  background: var(--striped-black-large);
  border-radius: 15px;
}
.evt {
  color: var(--gold);
  transition: all .5s ease-out;
}
.evt:hover {
  rotate: 15deg;
  color: var(--white);
}
.novt {
  color: var(--black2);
}
.pvt {
  color: var(--black3);
  transition: all .5s ease-out;
}
.pvt:hover {
  rotate: 15deg;
  color: var(--lightblue);
}


#contact-plate {
  background: var(--striped-black-large);
  margin-bottom: 150px;
  padding-bottom: 50px;
}
.form-floating {
width: 60%;
margin: auto;
min-width: 350px;
}
label {
  color: var(--black2);
  font-weight: 900;
}
input {
  filter: drop-shadow(0px 0px 20pxs);
}
#form-submit {
  background-color: var(--black2);
  color: var(--white);
  width: 200px;
  height: 50px;
  border: 5px solid var(--white);
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  display: block;
}
#donate-plate {
  display: flex;
  width: 100%;
  background: var(--striped-darkblue);
  padding-top: 20px;
  padding-bottom: 20px;
}
#don-pte-left {
  width: 40%;
  margin-left: 22.5%;
  display: flex;
  align-items: center;
  div {
    display: block;
  }
  h1 {
    font-size: 60px;
    font-weight: 800;
  }
  p {
    font-size: 20px;
    font-weight: 600;
  }
}
#don-pte-right {
  width: 20%;
  margin-right: 22.5%;
  align-items: center;
  display: flex;
}
#donate-btn {
  height: 50px;
  width: 100%;
}
/* MOBILE VERSION CHANGES */
@media screen and (max-width:770px) {
  #index-spot {
    width: 100%;
    border-radius: 0px;
    height: fit-content;
    background-image: url(/assets/img/spotimg/sand.png);
    background-size: cover;
    border-left: none; border-right: none;
  }
  #index-spot-img {
    display: none;
  }
  #index-spot-rightpanel {
    width: 100%;
    backdrop-filter: blur(5px) brightness(50%);
    height: 100%;
  }
  #index-spot-more {
    margin-bottom: 10px;
  }
  #watchbanner {
    padding-top: 20px; padding-bottom: 20px;
    font-size: 15px;
    padding-left: 7.5px;
  }
  }
@media screen and (max-width:990px) {
  #donate-plate {
    display: block;
    text-align: center;
  }
  #don-pte-left {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  #don-pte-right {
    width: 100%;
    }
    #donate-btn {
      width: auto;
    }
    #events-plate {
  display: none;
    }
    #m-events {
      display: block;
    }
}

/* Related to Index ^ */

/* Related to About Us v */

#about-tc {
  background-image: url("/assets/img/carousel/2024-teamimg.jpg");
}
.about-list {
  margin: auto;
  width: 100%;
  height: fit-content;
  font-size: 20px;
  line-height: 60px;
  font-weight: 800;
  padding: 30px; padding-top: 10px; padding-bottom: 10px;
}
.ala {
  background: var(--striped-black-large2);
}
.alb {
  background: var(--striped-black-large);
}
.alo {
  margin-top: 30px;
}
.subteam {
  height: fit-content;
  display: flex;
  
  h1 {
    font-weight: 900;
    font-size: 50px;
  }
}
.st-left {
  width: 75%;
  padding: 15px;
}
.st-right {
  width: 25%;
  background-position: center;
  background-size: cover;
}
#build-right {
  background-image: url("/assets/img/subteam/build.jpg");
}
#design-right {
  background-image: url("/assets/img/subteam/design.jpg");
}
#programming-right {
  background-image: url("/assets/img/subteam/programming.jpg");
}
#electrical-right {
  background-image: url("/assets/img/subteam/electrical.jpg");
}
#marketing-right {
  background-image: url("/assets/img/subteam/marketing.jpg");
}
#outreach-right {
  background-image: url("/assets/img/subteam/outreach.jpg");
}
@media screen and (max-width:770px) {
  .about-list {
    font-size: 15px;
    line-height: 30px;
  }
  .st-right {
    display: none;
  }
  .st-left {
    width: 100%;
  }
  .programming {
    h1 {
      font-size: 35px;
    }
  }
}
/* Related to About ^ */

/* Related to Events v */
#events-tc {
  background-image: url("/assets/img/img/events.jpg");
}
.event {
  background: var(--striped-black-large);
  width: 100%;
  height: fit-content;
  background-position: center;
  background-size: cover;
  transition: filter .5s;
}
.evact:hover {
  filter: brightness(150%);
}
.event-top {
  backdrop-filter: blur(2px) brightness(50%);
  width: fit-content;
  text-align: center;
  padding: 10px;
  color: var(--white);
  text-decoration: none !important;
  h1 {
    font-weight: 900;
    margin-top: 20px;
    font-size: 50px;
  }
  h3 {
    font-weight: 800;
  }
  h4 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width:770px) {
  .event-top {
    width: 100%;
    h1 {
      font-size: 30px;
    }
  }
}
#event-mitry26 {
  /* background-image: url("/assets/img/comps/mitry26-base.jpg") !important; */
}
#event-kickoff26 {
  /* background-image: url("/assets/img/img/kickoff25.jpg") !important; */
}

#event-frc25 {
  background-image: url("/assets/img/comps/frc25-base.jpg") !important;
}
#event-mi25 {
  background-image: url("/assets/img/comps/mi25-base.jpg") !important;
}
#event-mibro25 {
  background-image: url("/assets/img/comps/mibro25-base.JPG") !important;
}
#event-mifer25 {
  background-image: url("/assets/img/comps/mifer25-base.JPG") !important;
}
#event-kickoff25 {
  background-image: url("/assets/img/img/kickoff25.jpg") !important;
  background-position: 50% 65%;
}
/* Related to Events ^ */

/* Related to Events Total v */
#mifer25-tc {
  background-image: url("/assets/img/comps/mifer25-base.jpg");
}
#mibro25-tc {
  background-image: url("/assets/img/comps/mibro25-base.jpg");
}
#mi25-tc {
  background-image: url("/assets/img/comps/mi25-base.jpg");
}
#frc25-tc {
  background-image: url("/assets/img/comps/frc25-base.jpg");
}
/* Related to Events Total ^ */

/* Related to Comp Overview */
#host-tc {
  background-image: url("/assets/img/img/host.jpg");
}
#livestream {
  margin: auto;
  display: block;
  width: 70%;
  height: 500px;
  margin-bottom: 50px;
}
.game {
  height: 150px;
  background: var(--striped-black-large);
  margin-bottom: 50px;
}
.got {
  color: var(--gold);
}
.failed {
  color: #333;
}
#rp-reference {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: var(--black2);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px; margin-bottom: 20px;
}
.refer {
  display: flex;
  p {
    margin-left: 15px;
  }
}
.rankpts {
  display: flex;
  font-size: 40px;
  line-height: 50px;
  width: 400px;
  margin: auto;
  .rpe {
  margin: auto;
  }
}
.gamebar {
  width: 100%;
  height: 100px;
  display: flex;
  
}
.alliance {
  width: 10%;
  text-align: center;
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
}
.aaflex {
  display: flex;
  flex-direction: column;
}
.all-score {
  width: 30%;
  h1 {
  font-weight: 900;
  font-size: 90px;
  text-align: center;
  line-height: 100px;
  }
}
.red-all {
  background: var(--striped-red);
}
.red-all-score {
  background: repeating-linear-gradient(-45deg,#573131,#573131 5px,#512d2d 5px,#512d2d 10px);
}
.middle-area {
  width: 20%;
  background: var(--striped-white);
  text-align: center;
  color: var(--black2);
  font-weight: 900;
  font-size: 20px;
  line-height: 50px;
}
.blue-all-score {
  background: repeating-linear-gradient(-45deg,#366060,#366060 5px,#3b6a6a 5px,#3b6a6a 10px);
}
.blue-all {
  background: repeating-linear-gradient(-45deg,#65b2b2,#65b2b2 5px,#5da1a1 5px,#5da1a1 10px);
}
.crevo {
  color: var(--gold);
  font-weight: 900;
}
.chickens {
  color: #6AF778;
  font-weight: 900;
}
.pdir {
  width: 100%;
  line-height: 50px;
}
#alliance-pk {
  width: 100%;
  text-align: center;
  background: var(--striped-gold)
  margin-bottom: 50px;
  h1 {
    color: var(--black2);
  }
}
.alpk-tms {
  margin-top: -10px;
  font-size: 30px;
  font-weight: 900;
  
}
#overview {
  background: var(--striped-black-large);
}
.award {
  font-size: 50px;
  color: var(--gold);
  font-weight: 900;
  text-align: center;
}
@media screen and (max-width:770px) {
  .alliance {
    width: 15%;
    font-size: 15px;
  }
  .all-score {
    width: 20%;
    h1 {
      font-size: 35px;
    }
  }
  .middle-area {
    font-size: 15px;
    width: 30%;
  }
  .rankpts {
    font-size: 30px;
    width: 100%;
  }
  .award {
    font-size: 20px;
  }
  #livestream {
    width: 100%;
    height: auto;
  }
}

/* Related to Comp Overview ^ */

/* Related to Updates v */
#updates-tc {
background-image: url("/assets/img/img/");
}
.an-update {
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  margin-bottom: 10px;
  h1 {
  text-align: left !important;
  font-weight: 900;
  }
  a {
    margin: auto;
    margin-right: 10px;
  }
  .carousel {
    margin: auto;
    margin-right: 10px;
    width: 273.867px;
  }
  img {
    height: 200px;
    width: auto !important;
    border-radius: 25px;
  }
}
.whole-team {
  background: var(--striped-black-large2);
}

@media screen and (max-width: 770px) {
  .an-update {
    display: block;
    .carousel {
      display: none;
    }
    img {
      margin: auto;
      width: 100%;
      display: block;
    }
  }
}
#updates-tc {
  background-image: url("/assets/img/updates/elements.jpeg");
}



/* Related to Updates ^ */

/* Related to Sponsors v */
.socialtierlist{
  padding-bottom: 0%;
}
.sponsortierimg{
  width: 60%;
}
.plat {
  background-color: #6c6e86;    
  border-radius: 30px;
}
.goldtr {
  background-color: #967c44;
  border-radius: 30px;
}
.silv {
  background-color: #463f50;
  border-radius: 30px;
}
.brnz {
  background-color: #63432b;
  border-radius: 30px;
}
.memb {
  background-color: #6b2323;
  border-radius: 30px;
}
#sponsor-pg {
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 50%;
  padding: 0 4px;
}
.col {
  text-align: center;
}
.col img {
  margin-top: 8px;
  vertical-align: middle;
  height: 150px;
  margin: 20px;
}
.column2 {
  flex: 20%;
  padding: 0 4px;
}
.container {
  margin-left: auto;
}
.card {
  background: #00000000;
  padding : 4px;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
}
}
.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.5);
}
.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.inner {
  transition: background 300ms ease-in-out;
}
.card:hover > .plat {
  backdrop-filter: blur(80px);
  background: #0f0f0f99;
}
.card:hover > .goldtr {
  backdrop-filter: blur(80px);
  background: #967c4488;
}
.card:hover > .silv {
  backdrop-filter: blur(80px);
  background: #463f50cc;
}
.card:hover > .brnz {
  backdrop-filter: blur(80px);
  background: #63432bfa;
}
p {
  margin-bottom: 0%;
}
.knownlink {
  filter: drop-shadow(none);
  transition: all .5s;
  }
.knownlink:hover {
filter: drop-shadow(5px 5px #00000066);
}
#sponsors-tc {
  background-image: url(/assets/img/img/sponsors-top.jpg);
}

/* Related to Sponsors ^ */

/* Related to Robots page v */
#robots-tc {
  background-image: url("/assets/img/robots/2024/c.jpg");
}
.robot-container {
  width: 80%;
  margin-left: 10%;
  height: 200px;
  border-radius: 15px;
  background-image: var(--striped-black-large);
  display: flex;
  transition: all .2s ease-in-out;
  margin-top: 20px;

} 
.robotlgin {
  display: flex;
  width: 50%
}
.robotpic {
  height: 100%;
  width: 50%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  transition: all .2s ease-in-out;
}
.robotlogo {
  img {
    height: 100px;
    margin: 50px;
    width: 50%;
  }
  h1 {
    font-size: 40px;
    margin-left: 50px; margin-right: 50px;
    margin-top: 80px;
    font-weight: 900;
    color: var(--white);
    width: 50%;
  }
}
.robotinfo {
  width: 50%;
  height: 160px;
  text-align: left;
  margin-top: 20px;
  display: block !important;
  color: var(--white);
}
.robot-container:hover {
  filter: brightness(150%);
  border-radius: 5px;
  width: 85%;
  margin-left: 7.5%;
}
.robotpic:hover {
  border-radius: 5px;
}

.x2026bot {
  background-image: url("/assets/img/spotimg/sand.png");
}
.scylla {
  background-image: url("/assets/img/robots/2025/a.jpg");
}
.siren {
  background-image: url("/assets/img/robots/2024/a.jpg");
}
.maysovertone {
  background-image: url("/assets/img/robots/2023/a.jpg");
}
.daedalus {
  background-image: url("/assets/img/robots/2022/a.jpg");
  background-position: 50% 60%;
}
.aegis {
  background-image: url("/assets/img/robots/2020/a.jpg");
}
.asteria {
  background-image: url("/assets/img/robots/2019/a.jpg");
  background-position: 50% 75%;
}
.hyperion {
  background-image: url("/assets/img/robots/2018/a.jpg");
  background-position: 50% 80%;
}
.talos {
  background-image: url("/assets/img/robots/2017/a.jpg");
}
.achilles {
  background-image: url("/assets/img/robots/2016/a.jpg");
  background-position: 50% 4cqmax;
}
.pricus {
  background-image: url("/assets/img/robots/2015/a.jpg");
  background-position: 50% 80%;
}
.athena {
  background-image: url("/assets/img/robots/2014/a.jpg");
}
.discobulus {
  background-image: url("/assets/img/robots/2013/a.jpg");
}
.iris {
  background-image: url("/assets/img/robots/2012/a.jpg");
  background-position: 50% 60%;
}
.hermes {
  background-image: url("/assets/img/robots/2011/a.jpg");
  background-position: 50% 70%;
}
.cerberus {
  background-image: url("/assets/img/robots/2010/a.jpg");
}
.ganymede {
  background-image: url("/assets/img/robots/2009/a.jpg");
  background-position: 50% 80%;
}
.robotpg-tc {
  background-size: cover;
  height: 100%;
}
.rc {
  margin: auto;
  height: 300px;
  width: 400px;
  margin-bottom: 50px;
  img {
  height: 300px;
  width: 400px;
  border-radius: 25px;
}
}
.robot-info-pg {
  width: fit-content;
  margin: auto;
  display: flex;
    div {
  padding: 40px;
  }
}
@media screen and (max-width:1500px) {
  .robot-container {
    display: block;
    height: 400px;
    width: 70%;
    margin-left: 15%;
  }
  .robotpic {
    height: 50%;
    width: 100%;
  }
  .robotlogo {
    width: 50%;
  }
  .robotinfo {
    height: 50%;
    width: 50%;
  }
  .robotshrink {
     margin-left: 0%;
     margin-right: 0%;
  }
  .robotlgin {
    width: 100%;
  }
}
@media screen and (max-width:770px) {
  .rc {
    width: 200px;
    height: 150px;
    img {
      width: 200px;
      height: 150px;
    }
  }
  .robot-container {
    display: block;
    height: 600px;
    width: 313.84px;
    margin: auto;
    margin-top: 20px
  }
  .robotpic {
    height: 200px;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    img {
      margin: auto;
    }
  }
  .robotlogo {
    width: 100%;
    h1 {
      text-align: center;
      width: 100%;
      margin: 50px 0%;
    }
    img {
      width: auto;
    }
  }
  .robotinfo {
    height: 200px;
    width: 100%;
    text-align: center;
  }
  .robotlgin {
    display: block;
  }
}