nav {
  overflow-x: hidden;
  box-sizing: border-box !important;
}
.navbar-nav li:hover {
  color: #000 !important;
  background-color: #efb821 !important;
}
.navbar-nav .filler-over:hover {
  background-color: #656cb2 !important;
  .filler {
    color: #fff !important;
  }
}
nav {
  background-color: #1F1F1F;
  opacity: 1;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  border-bottom: 5px solid #efb821;
  margin: 5px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 20px #000);
  overflow-x: hidden;
  position: sticky;
  box-sizing:content-box;
}
#navspan {
  padding: 0px 0px 0px 0px;
}
.nav-link {
  padding: 22px 0 22px 0;
  
}
.navbar-nav li {
  transition: background-color 100ms;
}
.navbar-toggler {
  margin-right: 11px;
  border: none;
  color: #fff;
  font-size: 40px;
  transition: color 100ms;
}
.navbar-toggler:hover {
  color: #efb821;
}
br {
  overflow-x: hidden;
}
.watch {
  color: #efb821 !important;
}
.watchmobile {
i {
  font-size: 30px;
  color: #efb821;
}
}
@media screen and (min-width: 900px) {
.watchmobile { i {
  display: none;
}}}
@media screen and (max-width: 900px) {
  .watch {
    display: none;
}}