.navbar-nav li:hover {
    color: #000 !important;
    background-color: #efb821 !important;
  }
  nav {
    background-color: #1F1F1F;
    opacity: 1;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    border-bottom: 5px solid #efb821;
    margin: 5px;
    border-radius: 10px;
  }
  #navspan {
    padding: 0px 0px 0px 0px;
  }
  .nav-link {
    padding: 22px 0 22px 0;
    
  }
  
  .navbar-toggler {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 11px;
  }