body {
  background-color: #181a1b;

  overflow-x: hidden !important;
  /* ^ Used to hide the scrollbar*/

  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.8;
  font-family: Lato, sans-serif;
}

body::-webkit-scrollbar {
  /*Chrome, Safari, and Opera*/
  display: none;
}
::-webkit-scrollbar { 
  width: 0 !important
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* ^ Used to hide the scrollbar*/


.aligntext {
  text-align: left;
  margin-left: 36px;
}
.textcolor {
  color: white;
}
.textitalic {
  font-style: italic;
}
.textspacer {
  padding-bottom: 3px;
  padding-top: 3px;
}

.navbar-nav li:hover {
  color: #000 !important;
  background-color: #c3a234 !important;
}
nav {
  background-color: #1f1f2e;
  opacity: 0.95;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 4px;
}
#navspan {
  padding: 0px 0px 0px 0px;
}
.nav-link {
  padding: 22px 0 22px 0;
  
}


.navbar-toggler {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 11px;
}

.bottomnav {
  background-color: #1f1f2e;
}
.bottomLogo {
  width: 167px;
  margin: 0px 0px 0px 30%;
}
.bottomLogom {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bottomPR {
  width: 70px;
}
.bottomA {
  margin: 0px 10px 0px 10px;
}
.slogon{
  margin: 20px 0 20px 0;
  font-size: 24px;
}
/*------------------------------------------------------------------*/
.colorFix{
  background-color: #4b4b57; 
  border-radius: 15px;
}
.flex-wrap{
  margin: 0 5% 0 5%;  
}
  .ruby{
    color: #f22a2a;
  }
  .ruby .colpart{
    width: 425px;
    max-width: 100% !important;
    padding: 2% 3% 2% 3%;
  }

  .rubyline{
    background-color: #f22a2a;
    font-size: 2px;
  }
  .pblogo{
    width: 700px !important;
    max-width: 100% !important;
    max-height: 187.1px !important;
  }
  h1{
    font-size: 10vw;
    
  }
  @media screen and (min-width: 425px) {
    h1 {
       font-size: 60px;
    }
  }

  .plat{
    color: #e5e4e2 ;
  }
  .plat .colpart{
    width: 350px;
    max-width: 100% !important;
    padding: 2% 6% 2% 6%;
  }
  .platline{
    background-color: #e5e4e2 ;
    font-size: 2px;
  }
  .sdlogo{
    width: 500px !important;
    max-width: 100% !important;
  }
  .aflogo{
    width: 1000px !important;
    max-width: 100% !important;
  }
  .dia{
    color: #b0fdef;
  }
  .dia .colpart{
    width: 300px;
    max-width: 100% !important;
    padding: 2% 9% 2% 9%;
  }
  .dialine{
    background-color: #b0fdef;
    font-size: 2px;
  }
  .TMlogo{
    width: 225px !important;
    max-width: 90% !important;
  }
  

  .gold{
    color: #f9f100;
  }
  .gold .colpart{
    width: 240px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .goldline{
    background-color: #f9f100;
    font-size: 2px;
  }
  .gold{
    color: #f9f100;
  }
  .gold .colpart{
    width: 240px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .goldline{
    background-color: #f9f100;
    font-size: 2px;
  }
  .jblogo{
    width: 400px !important;
    max-width: 100% !important;
    max-height: 94.7px !important; 
  }
  .lllogo{
    width: 500px !important;
    max-width: 100% !important;
    max-height: 94.7px !important; 
  }
  
  .sil{
    color: #c7c1b9;
  }
  .sil .colpart{
    width: 200px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .silline{
    background-color: #c7c1b9;
    font-size: 2px;
  }

  .bro{
    color: #ae793c;
  }
  .bro .colpart{
    width: 180px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .broline{
    background-color: #ae793c;
    font-size: 2px;
  }
  .mmlogo{
    border-radius: 15px !important;
  }