body {
  background-color: #181a1b;

  overflow-x: hidden;
  /* ^ Used to hide the scrollbar*/

  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.8;
  font-family: Lato, sans-serif;
}

body::-webkit-scrollbar {
  /*Chrome, Safari, and Opera*/
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* ^ Used to hide the scrollbar*/


.aligntext {
  text-align: left;
  margin-left: 36px;
}
.textcolor {
  color: white;
}
.textitalic {
  font-style: italic;
}
.textspacer {
  padding-bottom: 3px;
  padding-top: 3px;
}

.navbar-nav li:hover {
  color: #000 !important;
  background-color: #c3a234 !important;
}
nav {
  background-color: #1f1f2e;
  opacity: 0.95;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 4px;
}
#navspan {
  padding: 0px 0px 0px 0px;
}
.nav-link {
  padding: 22px 0 22px 0;
}


.navbar-toggler {
  margin-top: 11px;
  margin-bottom: 11px;
}

.bottomnav {
  background-color: #1f1f2e;
}
.bottomLogo {
  width: 167px;
  margin: 0px 0px 0px 30%;
}
.bottomLogom {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bottomPR {
  width: 70px;
}
.bottomA {
  margin: 0px 10px 0px 10px;
}
.slogon{
  margin: 20px 0 20px 0;
  font-size: 24px;
}
/*------------------------------------------------------------------*/

  .ruby{
    color: #f22a2a;
  }
  .ruby .colpart{
    width: 600px;
    max-width: 100% !important;
  }
  .ruby .flex-wrap{
    margin: 0 5% 0 5%;  
  }
  .rubyline{
    background-color: #f22a2a;
    font-size: 2px;
  }
  h1{
    font-size: 10vw;
    
  }
  @media screen and (min-width: 600px) {
    h1 {
       font-size: 60px;
    }
  }