body {
  background-color: #0f0f0f;
  color:white;
  overflow-x: hidden !important;
  /* ^ Used to hide the scrollbar*/

  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.8;
  font-family: Montserrat, sans-serif;
}

body::-webkit-scrollbar {
  /*Chrome, Safari, and Opera*/
  display: none;
}
::-webkit-scrollbar { 
  width: 0 !important
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* ^ Used to hide the scrollbar*/


.aligntext {
  text-align: left;
  margin-left: 36px;
}
.textcolor {
  color: white;
}
.textitalic {
  font-style: italic;
}
.textspacer {
  padding-bottom: 3px;
  padding-top: 3px;
}

.navbar-nav li:hover {
  color: #000 !important;
  background-color: #F0B825 !important;
}
nav {
  border-bottom: 5px solid #efb821;
  background-color: #1F1F1F;
  opacity: 1;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
#navspan {
  padding: 0px 0px 0px 0px;
}
.nav-link {
  padding: 22px 0 22px 0;
  
}


.navbar-toggler {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 11px;
}

.bottomnav {
  border-bottom: 5px solid #efb821;
  background-color: #1f1f1f;
}
.bottomLogo {
  width: 167px;
  margin: 0px 0px 0px 30%;
}
.bottomLogom {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bottomPR {
  width: 70px;
}
.bottomA {
  margin: 0px 10px 0px 10px;
}
.slogon {
font-weight: 900;
  margin: 20px 0 20px 0;
  font-size: 24px;
}
/*------------------------------------------------------------------*/
.colorFix{
  background-color: #4b4b57; 
  border-radius: 15px;
}
.flex-wrap{
  margin: 0 5% 0 5%;  
}
  .ruby{
    color: #f22a2a;
  }
  .ruby .colpart{
    width: 425px;
    max-width: 100% !important;
    padding: 2% 3% 2% 3%;
  }

  .rubyline{
    background-color: #f22a2a;
    font-size: 2px;
  }
  .pblogo{
    width: 700px !important;
    max-width: 100% !important;
    max-height: 187.1px !important;
  }
  h1{
    font-size: 10vw;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  @media screen and (min-width: 425px) {
    h1 {
       font-size: 60px;
    }
  }
  .dia{
    color: #b0fdef;
  }
  .dia .colpart{
    width: 350px;
    max-width: 100% !important;
    padding: 2% 6% 2% 9%;
  }
  .dialine{
    background-color: #b0fdef;
    font-size: 2px;
  }
  .plat{
    color: #e5e4e2 ;
  }
  .plat .colpart{
    width: 300px;
    max-width: 100% !important;
    padding: 2% 9% 2% 6%;
  }
  .platline{
    background-color: #e5e4e2 ;
    font-size: 2px;
  }
  .sdlogo{
    width: 500px !important;
    max-width: 100% !important;
  }
  .aflogo{
    width: 1000px !important;
    max-width: 100% !important;
  }
  
  .TMlogo{
    width: 225px !important;
    max-width: 90% !important;
  }
  

  .gold{
    color: #f9f100;
  }
  .gold .colpart{
    width: 240px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .goldline{
    background-color: #f9f100;
    font-size: 2px;
  }
  .gold{
    color: #f9f100;
  }
  .gold .colpart{
    width: 240px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .goldline{
    background-color: #f9f100;
    font-size: 2px;
  }
  .jblogo{
    width: 400px !important;
    max-width: 100% !important;
    max-height: 94.7px !important; 
  }
  .lllogo{
    width: 500px !important;
    max-width: 100% !important;
    max-height: 94.7px !important; 
  }
  
  .sil{
    color: #c7c1b9;
  }
  .sil .colpart{
    width: 200px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .silline{
    background-color: #c7c1b9;
    font-size: 2px;
  }

  .bro{
    color: #ae793c;
  }
  .bro .colpart{
    width: 180px;
    max-width: 100% !important;
    padding: 2% 10% 2% 10%;
  }
  .broline{
    background-color: #ae793c;
    font-size: 2px;
  }
  .mmlogo{
    border-radius: 15px !important;
  }
  .bmlogo{
    width: 400px !important;
    max-width: 100% !important;
    max-height: 60px !important; 
  }
  tiers{
    color: #c3a234;
    text-align: center;
    font-size: 40px ;

    
    line-height: 42px;
  height: 44px;
  
  }
  tiers li{
    padding: 20px 0 0 0; 
   
  }
  .money{
    color: white;
    font-size: 30px ;
    line-height: 34px;
    height: 35px;
    padding: 10px 0 40px 0; 
  }
  .tierdescription{
      list-style-type: none;
      color: white;
      font-size: 25px ;
      padding: 0 0 10px 30px !important;  
      width: 350px !important;
      text-align: left;
  }
  .highertier{
    color: white;
    font-size: 15px ;
  }
  .left{
    text-align: left;
    width: 300px;
  }

  .socialtierlist{
    padding-bottom: 0%;
  }

  .sponsortierimg{
    width: 60%;
  }

  .col {
    text-align: left;
  }
  .bordera {
    border-bottom: #e5e4e2 solid 3px;
  }
  .borderb {
    border-left: #e5e4e2 solid 3px;
  }
  .plat {
    background-color: #1e2146;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    
  }
  .goldv {
    background-color: #423510;
  }
  .silv {
    background-color: #23212e;
  }
  .brnz {
    background-color: #241b14;
  }
  .sponsors {
    background-color: #2c1515;
    border-radius: 30px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .column2 {
    flex: 20%;
    padding: 0 4px;
  }
  .list-group {
    margin-left: 10%; margin-right: 10%;
  }
  .list-group-item {
    background-color: #1F1F1F;
    color: #fff;
    transition-duration: 500ms;
  }
  .list-group-item:hover {
    background-color: #000;
    color: #fff;
  }
  .build {
    background-color: #b26565;
    color: #fff;
    font-weight: 800;
    padding: 3px;
    padding-left: 10px; padding-right: 10px;
  }
  .des {
    background-color: #65b2b2;
    color: #fff;
    font-weight: 800;
    padding: 3px;
    padding-left: 10px; padding-right: 10px;
  }
  .prog {
    background-color: #88b265;
    color: #fff;
    font-weight: 800;
    padding: 3px;
    padding-left: 10px; padding-right: 10px;
  }
  .elec {
    background-color: #b2b165;
    color: #fff;
    font-weight: 800;
    padding: 3px;
    padding-left: 10px; padding-right: 10px;
  }
  .mark {
    background-color: #656cb2;
    color: #fff;
    font-weight: 800;
    padding: 3px;
    padding-left: 10px; padding-right: 10px;
  }
  .out {
    background-color: #b265ac;
    color: #fff;
    font-weight: 800;
    padding: 3px;
    padding-left: 10px; padding-right: 10px;
  }
  .all {
    background-color: #efb821;
    color: #000;
    font-weight: 800;
    padding: 3px;
    padding-left: 10px; padding-right: 10px;
  }